:root {
  --white: #fff;
  --black: #000;
  --font-color-base: #666;
  --font-color-dark: #212529;
  --font-color-light: #b0aebe;
  --font-color-link: #57a6ff;
  --footer: #34314b;
  --footer-base: #2e2b45;
  --contrast: rgba(246, 248, 249, 0.8);
  --success: #64ecf5;
  --danger: #ff8b8d;
  --grad-1: #a1ecff;
  --grad-2: #7dbcff;

  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
}

.blue {
  color: #4285f4;
}
.red {
  color: #db4437;
}
.green {
  color: #0f9d58;
}
.yellow {
  color: #f4b400;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: var(--size-14);
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--font-color-base);
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

header {
  border-bottom: 2px solid rgba(176, 176, 176, 0.5);
  margin-bottom: 10px;
}

.main {
  display: flex;
  align-items: center;
  margin: var(--size-14) 0;
}

.logo {
  font-size: var(--size-30);
  margin: 0 var(--size-30);
}

input {
  width: 650px;
  border-radius: 25px;
  border: 1px solid lightgray;
  padding: 10px;
  text-align: left;
}

.search-icons-wrapper {
  display: flex;
  gap: 15px;
  width: fit-content;
  position: absolute;
  top: 29px;
  left: 700px;
}
.search-icons-wrapper i {
  font-size: var(--size-20);
  color: rgb(176, 176, 176);
}

.search-icons-wrapper i:hover {
  color: rgb(134, 134, 134);
  cursor: pointer;
  font-size: 22px;
}
.search-icons-left,
.search-icons-right {
  display: flex;
  gap: 15px;
}
.vl {
  border-left: 2px solid lightgray;
  height: 30px;
  margin-bottom: -5px;
  margin-top: -5px;
}

.header-icons-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin: 0 var(--size-14);
}

.header-icons-right i {
  display: inline-block;
}
.header-icons-right img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  vertical-align: text-bottom;
}

.left-align-container {
  width: 800px;
  margin-left: 169px;
  padding: 10px 0px;
}

.header-links-wrapper {
  display: flex;
  gap: var(--size-100);
}

.header-links-left ul,
.header-links-right ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--size-10);
}

.header-links-wrapper li {
  list-style: none;

  margin: 0;
  padding: 0;
}

.header-links-wrapper a {
  text-decoration: none;
  color: var(--font-color-dark);
  cursor: pointer;
  margin: 0;
  padding: 10px 5px;

  font-size: 12px;
}

.initial-active a {
  color: #4285f4;
  border-bottom: 3px solid #4285f4;
}
.header-links-wrapper a:active {
  color: #4285f4;
  border-bottom: 3px solid #4285f4;
}

.header-links-wrapper a:hover {
  color: #4285f4;
  border-bottom: 3px solid #4285f4;
}

/* main section */
div .left-align-container {
  /* border: 1px solid pink; */
  width: 610px;
  margin-left: 169px;
  padding: 0;
}

.result-card {
  /* border: 1px solid black; */
  width: 85%;
  margin-bottom: 15px;
}

.total-results {
  font-size: 12px;
  color: rgb(132, 132, 132);
  margin-bottom: 10px;
}

.address {
  color: black;
  font-size: 12px;
}

.address-text {
  color: gray;
}

.address .fa-sort-down {
  color: gray;
  vertical-align: top;
}

.address i {
  color: gray;
  font-size: 8px;
}

.address .bump-down {
  padding-top: 4px;
  margin-left: 4px;
  font-size: 12px;
}

.link-address h3 {
  font-weight: 500;
  color: rgb(45, 16, 176);
  margin-top: 0;
  margin-bottom: 4px;
}

.link-address a {
  text-decoration: none;
}

.result-description p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
}

.result-description-date {
  color: gray;
}
.result-description-links a {
  text-decoration: none;
  font-size: 12px;
  color: rgb(45, 16, 176);
}
